/* ==========================================================================
   1. VARIABLES & RESET
   ========================================================================== */
:root {
    --orange-btp: #ff6b00;
    --dark-blue: #0f172a;    
    --bg-blank: #ffffff;      
    --text-main: #334155;     
    --text-light: #64748b;    
    --text-gray: #94a3b8;
    --footer-black: #05070a; 
    --white: #ffffff;
    --transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

